.table-fixed tbody {
    height: 600px;
    overflow-y: auto;
    width: 100%;
}
.cus-h {
    height: 41px;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}
.table-fixed tr:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
}
.table-fixed tbody td,
.table-fixed thead > tr > th {
    float: left;
}
.respons {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sum1{
    padding-left: 15px;
    padding-right: 5px;
    border: 1px solid;
}
.sum2{
    padding-left: 15px;
    padding-right: 5px;
    border: 1px solid;
    text-align: right;
}
.head{
    padding-left: 15px;
    padding-right: 5px;
    border: 1px solid;
    font-size: 12px;
}